.App {
  text-align: center;
  font-family:sans-serif;
  line-height: 1.5;
}

body {
  margin: 0px;
  padding: 0px;
  border:0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}


.cabecalhoPrincipal{
  display: flex;
  align-items:center;
  background-color: black;
  height: 100px;
} 

.cabecalhoPrincipal .container-header {
  display: flex;
  margin: auto;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  } 

.cabecalhoPrincipal-titulo>h1 {
  color: white;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.cabecalhoPrincipal-titulo>h3 {
  color: white;
  margin: 0px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cabecalhoPrincipal-nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 15%;
}


.cabecalhoPrincipal-nav>a {
  text-decoration: none;
  align-items: center;
  color: white;
  
  height: fit-content;
}


.principal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  flex-direction: column;
  color: rgba(0,0,0,80%);
}

.principal > hr {
  max-width: 1000px;
}

.caixaCentro {
  width: 80%;
  max-width: 1000px;
}

.primeira-sessao {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow:visible;
}

.primeira-sessao .bemvindo {
  width: 80%;
  max-width: 1000px;
  background-color: white;
  text-align: left;
}

.primeira-sessao .bemvindo > h1 {
  font-size: 35px;
}


.segunda-sessao {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.segunda-sessao>div>h2 {
  color: rgba(0, 0, 0, 0.637);
}

.segunda-sessao>div>h3 {
  color:rgba(0, 0, 0, 0.637);
}

.segunda-sessao .foto {
  width: 80%;
  background-color: white;
}

.foto>h2 {
  margin: 0px;
  margin-top: 10px;
}

.foto>h3 {
  margin: 0px;
  margin-top: 10px;
}

.terceira-sessao {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}

.caixas1 > div > h4{
  margin-top: 5px;
  margin-bottom: 10px;
}

.princiapl .postagens {
  width: 100%;
  align-items:left;
}

.terceira-sessao #area {
  color: darkred;
}

.terceira-sessao #cargo {
  color: darkblue;
}

.caixas0 {
  display: flex;
  width: 80%;
  max-width: 1000px;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-content: flex-start;
}

.caixas {
  display: flex;
  width: 80%;
  max-width: 1000px;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.caixas>div{
  background-color: white;
  width: 31%;
  margin-bottom: 40px;
}

.caixas > div > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.caixas > div > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.caixas > div > img {
  max-height: auto;
}

.quarta-sessao {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  align-items: center;
}

.quinta-sessao {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  align-items: center;
  margin-bottom: 150px;
}

.quinta-sessao .caixa3 {
  display:flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  align-items: flex-start;
}

.caixa3 .textoin {
  text-align: left;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: darkgray;
} 

.container-footer .container-nome{
  display:flex;
  justify-content: center;
}

