/* * {
  font-size: 16px;
} */

/******* START styles applyied in all pages *******/

* {
  box-sizing: border-box;
}

:root {
  --vermelho: #E50914;
  --preto: #141414;
}

body {
  margin: 0px;
  padding: 0px;
  border:0px;
}

.App {
  text-align: center;
  font-family:sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

a:visited {
  color: #141414;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin-bottom: 15px;
}

img {
  border-radius: 6px;
}

footer {
  margin-top: 150px;
}

.App header{
  display: flex;
  align-items:center;
  background-color: black;
  height: 200px;
} 

header .container-header {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
  height: 140px;
}

.header-main-title > a > h3 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.726);
  margin: auto;
}

.header-main-title > a {
  text-decoration: none;
  color: white;
}

.header-main-nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.header-main-nav > a {
  text-decoration: none;
  color: white;
  height: fit-content;
  margin-left: 10px;
}

.header-main-nav > a :hover {
  text-decoration: underline;
}

nav .selected{
  color: black; 
  padding: 5px; 
  background-color: white;
  border-radius: 10px;
}

nav .not-selected{
  color: white; 
  padding: 5px; 
  background-color: black"
}

.principal {
  display: flex;
  align-items: center;
  height: auto;
  flex-direction: column;
  color: rgba(0,0,0,80%);
}

.footer-main {
  width:100%;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: darkgray;
  height: 100px;
} 

.container-footer .container-nome{
  display:flex;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 80px;
}

#photo-curriculum {
  margin-top: 80px;
}
/******* END styles applyied in all pages *******/

/******* START styles for index.html *******/

section {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   overflow: visible;
   align-items: center;
   justify-content: flex-start;
    width: 100%;
   max-width: 1100px;
   padding: 0px 20px;
 }
 
 h1 {
   margin-top: 100px;
   margin-bottom: 40px;
   width: 100%;
   text-align: center;
   padding: 0px 20px;
 }

.container-sessao {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1100px;
}

.lined-elements iframe{
  margin: 10px;
}

.lined-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  width: 100%;
}

.lined-elements>div{
  width: 330px;
  margin-bottom: 20px;
}

.lined-elements > div > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.lined-elements > div > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.lined-elements div h3{
   margin: 5px 0px;
 }

.lined-elements p {
   padding: 0px 10px;
}

.link-blog > img {
  max-height: auto;
  transition: .3s ease all;
}

.link-blog > img:hover {
  transform: 0.5;
  opacity: 70%;
}

.link-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  margin: 20px 0px;
  background-color: rgb(219, 245, 255);
  padding: 30px 60px;
  height: 250px;
}

.link-contacts a {
   text-decoration: none;
   font-style: 20px;
}

.link-contacts a:hover {
   text-decoration: underline;
}

#contato {
  font-weight: 600;
}

.container-contatos {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  width: 400px;
  margin-top: 130px;
}

.container-contatos>a {
  text-decoration: none;
  color: rgba(0,0,0,80%);
  font-weight: 600;
  margin-bottom: 20px;
}

.container-contatos>a:hover {
  text-decoration: underline;
}

/******* END styles for index.html *******/

/******* START styles for curriculo.html *******/

.texts-box {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 25px;
  margin-right: 25px;
}

.texts-image{
  width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.logotipos-empresas {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.logotipos-empresas>div{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.logotipos-empresas>div>img{
  margin: 10px;
}

.caixaCentro {
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}

.key-words {
  padding: 0px 10px;
}

#area {  
  color: darkred;  
}


/******* END styles for curriculo.html *******/


/******* START styles for cinfo.html *******/

.curriculo-anima{
  height: auto;
}

.caixaCurriculo {
  width: 100%;
  align-items: center;
}

#curriculoanima {
  margin-bottom: 150px;
}


/******* END styles for cinfo.html *******/

/******* START styles for mmetro.html *******/

.caixaTexto {
  width: 100%;
  max-width: 1000px;
  text-align: justify;
}

.mm-image {
  max-width: 450px;
  max-height: 450px;
}


/******* END styles for mmetro.html *******/


#botao-acesso {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: white; 
  background-color: rgb(29, 29, 206);
  border-radius: 10px;
  transition: .3s ease all;
}

#botao-acesso:hover {
  background-color: rgb(73, 73, 255);
}


.container-pessoal {
  display: flex;
  flex-direction: row;
}

.container-pessoal>div>p {
  margin-left: 20px;
  text-align: left;
  font-size: larger;
}

.container-pessoal>div>img {
  margin-top: 15px;
}

.img-quotes > img {
  width: 100%;
  height: auto;
  padding: 0px 10px;
  border-radius: 6px;
}