/******* START styles applyied in all pages *******/

body {
  margin: 0px;
  padding: 0px;
  border:0px;
}

.App {
  text-align: center;
  font-family:sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.App header{
  display: flex;
  align-items:center;
  background-color: black;
  height: 100px;
} 

.cabecalhoPrincipal .container-header {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  } 

.cabecalhoPrincipal-titulo > a > h3 {
  text-decoration: none;
  color: white;
  margin: auto;
}

.cabecalhoPrincipal-titulo > a {
  text-decoration: none;
  color: white;
  margin: auto;
}

.cabecalhoPrincipal-nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 15%;
}

.cabecalhoPrincipal-nav > a {
  text-decoration: none;
  align-items: center;
  color: white;
  height: fit-content;
}

.cabecalhoPrincipal-nav > a :hover {
  text-decoration: underline;
}

nav .selecionado{
  color: black; 
  padding: 5px; 
  background-color: white;
  border-radius: 10px;
}

nav .naoselecionado{
  color: white; 
  padding: 5px; 
  background-color: black"
}

.principal {
  display: flex;
  align-items: center;
  height: auto;
  flex-direction: column;
  color: rgba(0,0,0,80%);
  margin-top: 150px;
  margin-bottom: 300px;
}

.footer-main {
  width:100%;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: darkgray;
} 

.container-footer .container-nome{
  display:flex;
  justify-content: center;
}

.container-sessao {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow:visible;
}

.margin-bottom{
  margin-bottom: 100px;
}


/******* END styles applyied in all pages *******/

/******* START styles for index.html *******/


.container-sessao .bemvindo {
  text-align: left;
}

.container-sessao > hr{
  width: 100%; 
  color: rgba(211, 211, 211, 0.945);
}

.container-sessao .caixa-post{
  width: 100%;
  text-align: left;
}

.caixas {
  display: flex;
  width: 100%;
  max-width: 1000px;
  flex-direction: row;
  justify-content: space-between;
}

.caixas>div{
  width: 31%;
  margin-bottom: 40px;
}

.caixas > div > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.caixas > div > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.caixas > div > img {
  max-height: auto;
}

.container-sessao .relevantes {
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  align-items: flex-start;
}

.relevantes .textoin {
  text-align: left;
}

/******* END styles for index.html *******/

/******* START styles for curriculo.html *******/

.caixaCentro {
  width: 100%;
  align-items: center;
}

.container-sessao>div {
  color: rgba(0,0,0,80%);
}

#area {  
  color: darkred;  
}

#cargo {  
  color: darkblue;  
}

/******* END styles for curriculo.html *******/


/******* START styles for cinfo.html *******/

.caixaCurriculo {
  width: 100%;
  align-items: center;
  margin-top: 50px;
}

#curriculoanima {
  margin-bottom: 150px;
}

/******* END styles for cinfo.html *******/

/******* START styles for mmetro.html *******/

.caixaTexto {
  width: 100%;
  max-width: 1000px;
  text-align: justify;
}

/******* END styles for mmetro.html *******/

